<!DOCTYPE html>
<html>
    <head>
        <title>Chronoshot</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        
        <div id="" class="fullheight">
            <div id="ImageListPlaceholder" class="fullheight">
            </div>
            <div id="ImagePopupPlaceholder">
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="/javascripts/global.js"></script>
    </body>
</html>