extends layout

block content
  h1= title
  p This is #{title}.
  
  #example.test
  
  // ADD USER
  h2 Add User
  #addUser
      fieldset
          input#inputUserName(type='text', placeholder='Username')
          input#inputUserEmail(type='text', placeholder='Email')

          button#btnAddUser Add User
  // /ADD USER

  button#btnUpdateThumbnails Update database
